.search-container {
    background-image: url("../../../assets/search.avif");
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.searchbox {
    width: 25rem;
}